{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sign in</title>
</head>

<body>
  <a href="/">Home</a>
  <!-- Login Form ************************************ -->
  <div class="container">
    <div class="forms-container">
      <div class="signin-signup">
        <form class="sign-in-form" method="POST">
          {% csrf_token %}
          <h2 class="title">Sign in</h2>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Username" name="username" />
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Password" name="password" />
          </div>
          {% for message in messages %}
          <div style="color: red;">
            <p>{{message}}</p>
          </div>
          {% endfor %}
          <input type="submit" name="form_type" value="Login" class="btn solid" />
        </form>

        <!-- ************ Sign-up Form*************** -->
        <form class="sign-up-form" method="POST">
          {% csrf_token %}
          <h2 class="title">Sign Up</h2>
          {{ form|crispy }}
          <input type="submit" name="form_type" class="btn btn-primary" value="Sign up" />

        </form>
      </div>
    </div>
  </div>
</body>

</html>