{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sign in - BudMan</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  <link rel="stylesheet" href="{% static 'frontend/css/login.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'frontend/img/black.png' %}" />
</head>

<body>
  <!-- Login Form ************************************ -->
  <div class="container">
    <div class="forms-container">
      <div class="signin-signup">
        <div class="wrapper">
          <a href="/"><div class="logo"> <img src="{% static 'frontend/img/white.png' %}" alt="logo">
          </div>
          <div class="text-center mt-4 name"> BudMan </div></a>
          <form class="p-3 mt-3" method="POST">
            {% csrf_token %}
            <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span>
              <input type="text" placeholder="Username" name="username" />
            </div>
            <div class="form-field d-flex align-items-center"> <span class="fas fa-key"></span>
              <input type="password" placeholder="Password" name="password" />
            </div>
            {% for message in messages %}
            <div style="color: red;" class="d-flex align-items-center">
              <p>{{message}}</p>
            </div>
            {% endfor %}
            <input type="submit" name="form_type" value="Login" class="btn solid mt-3" />
          </form>
          <div class="text-center fs-6"><a href="/signup">Sign up</a> </div>      
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>